{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "ie": 9
                }
            },
        ],
        "@babel/preset-react",
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-destructuring",
    ],
    "env": {
        "test": {
            "sourceMap": "inline",
            "retainLines": true,
        }
    }
}
