*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.post {
    transition: opacity 0.5s;
    opacity: 1;
}

ul {
    list-style-type: none;
}

.threadListUl h3, .threadListUl p { display: inline; }

.threadListUl li {
    padding: 2px;
}

.postsListUl {
    padding: 10px;
}

.postsListUl li {
    margin: 2px;
}

.postsListUl p {
    margin: 5px;
}

.loginFormDiv {
    padding: 10px;
    text-align: center;
}

.loginFormDiv h3, h4, p {
    padding: 10px;
}

.backToIt {
    padding: 10px;
}
